{% extends "::base.html.twig" %}

{% block title %} {{parent()}} - Accueil{% endblock %}

{%block li1%}class="active"{% endblock %}

{%block header%}
				<div class="business-header urlimghome">
					<div class="container">
							<div class="row">
							<div class="col-lg-12">
								<h1 class="tagline">Une équipe à votre service</h1>
							</div>
						</div>
					</div>	
				</div>	
{%endblock%}
	
{% block body %}
		{{ parent()}}
		<div class="container">

			<div class="row">
				<div class="col-lg-8 col-sm-8">
					<h2>Bienvenue !	</h2>
					<p>Here is where you will introduce visitors to the business. Make sure to use clear and informative sentences. Use appropriate keywords here to make sure search engines can find the business.</p>
					<p>When using this template, two decisions will be open to visitors. Decision one will be to use above-the-fold information to interact with the page. Decision two will be to scroll down and see the additional marketing boxes. Either way, the user will get the information they need!</p>
					
					<div class="row">
						<p class="col-sm-6 col-lg-3"><a class="btn btn-default btn-large" href="{{ path('page_apropos') }}">Découvrez-nous &raquo;</a></p>
						
						<p class="col-lg-1 col-lg-offset-5 col-sm-3 col-xs-offset-0"><a class="btn btn-default btn-large" href="{{asset('uploads/PlaquetteJE.pdf')}}" target="_blank">Téléchargez notre plaquette &raquo;</a></p>
					</div>
				</div>
				<div class="col-lg-4 col-sm-4 chiffrescle">
					<h2>Chiffres-clés</h2>
						<ul style="list-style-type:none">
							<li><span class="glyphicon glyphicon-wrench"></span>&nbsp;&nbsp; <strong>32 ans</strong> d'expérience</li>
							</br>
							<li><span class="glyphicon glyphicon-collapse-up"></span>&nbsp;&nbsp; <strong>30 études</strong> par an</li>
							</br>
							<li><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp; <strong>90%</strong> de satisfaction client</li>
							</br>
							<li><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp; <strong>1300 étudiants</strong> prêts à répondre à votre offre</li>
					
					
					
				</div>
			</div>

			<hr>
			
			<h2>Une gamme de prestations variées</h2>
			</br>
			
			<div class="row">
				<div class="col-sm-4 col-lg-4">
					<img class="img-circle img-responsive text-center" src="{{ asset('img/Info.jpg')}}">
					<h2>Informatique</h2>
					<p>These marketing boxes are a great place to put some information. These can contain summaries of what the company does, promotional information, or anything else that is relevant to the company. These will usually be below-the-fold.</p>
				</div>
				
				<div class="col-sm-4 col-lg-4">
					<img class="img-circle img-responsive" src="{{ asset('img/marketing.png')}}">
					<h2>Marketing</h2>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
				</div>
				
				<div class="col-sm-4 col-lg-4">
					<img class="img-circle img-responsive" src="{{ asset('img/Circuit.png')}}">
					<h2>Electronique</h2>
					<p>The images are set to be circular and responsive. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
				</div>
				
				
			</div>
			
			</br>
			
			<h3>Et bien plus encore !</h3>
			<p>Découvrez <strong>tous nos  domaines de compétences</strong> et plus d'informations sur nos <strong>prestations</strong> <a class="btn btn-default btn-large" href="{{ path('page_prestations') }}">ici &raquo;</a> .</p>
        </div>

{% endblock %}
