{% extends "::base.html.twig" %}

{% block title %} {{parent()}} - Prestations{% endblock %}

{%block li3%}class="active"{% endblock %}

{%block header %}
		<div class="business-header urlimgprestations">

			<div class="container">

				<div class="row">
					<div class="col-lg-12">
						<!-- The background image is set in the custom CSS -->
						<h1 class="tagline">Des prestations de qualité!</h1>
					</div>
				</div>

			</div>

		</div>
{%endblock%}
	
{% block body %}
			<h2>
				Les activités de Junior ESIEE
			</h2>
			<div class="row">
				<div id="menu-presta" >
					<ul class="nav nav-pills nav-stacked nav-tabs" role="tablist">
						<li class="active"><a href="#Competences" role="tab" data-toggle="tab">Domaines de compétences</a></li>
						<li><a href="#Etude" role="tab" data-toggle="tab">Déroulement d'une étude</a></li>
					</ul>
				</div>
				
				<div class="col-sm-12 tab-content tab-about">
					<div class="tab-pane active fade in" id="Competences">
					
					
						<div class="img-menu nav nav-pills nav-stacked hidden-xs" role="tablist">
							<a data-toggle="collapse" data-parent="#accordion" href="#elec" role="tab" class="a-menu" ></a>
							<a data-toggle="collapse" data-parent="#accordion" href="#info" class="a-menu" ></a>
							<a data-toggle="collapse" data-parent="#accordion" href="#managment" class="a-menu" ></a>
							<a data-toggle="collapse" data-parent="#accordion" href="#bio"  class="a-menu"></a>
							<a data-toggle="collapse" data-parent="#accordion" href="#esiee" style="display:none" class="a-menu"></a>
						</div>	
						
						<div class="col-sm-12 tab-content tab-about">
							
							
							
							<div class="tab-pane active fade in " id="esiee">
								<h3>Des compétences variées</h3>
								<p class="text-justify">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum turpis sapien, eget laoreet lacus aliquet nec. Sed tristique sit amet orci id gravida. Sed eu eros porta, volutpat ligula sit amet, viverra leo. Nulla accumsan, massa vitae condimentum euismod, tellus velit iaculis diam, at pharetra velit lacus id odio. Etiam ac libero erat. Duis eleifend non libero vel aliquam. In euismod hendrerit mauris eget ultricies. Etiam egestas diam nec metus ornare sollicitudin. Maecenas consequat vulputate rhoncus. Nunc tempus purus non blandit ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas felis purus, dignissim eu laoreet et, euismod eu ipsum.
								</p>
								<p class="text-justify">
									Cras rhoncus bibendum interdum. Ut varius eu enim eget elementum. Ut dolor sapien, hendrerit vel lorem sit amet, venenatis dapibus mi. Praesent vehicula posuere est. Suspendisse vel lectus vel diam tincidunt rhoncus non eu lacus. Aliquam porttitor a risus vel placerat. Donec ante libero, feugiat non magna porta, consectetur tempus ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas mattis lacinia lacus id facilisis. Quisque fringilla mollis metus ut gravida.
								</p>
								<p class="text-justify">
									Mauris id nunc rhoncus, luctus eros vitae, dapibus nibh. Phasellus lectus ligula, viverra vitae eleifend non, molestie non enim. Nam scelerisque erat sed semper ullamcorper. Aliquam eget tellus sed diam semper mollis. Vestibulum porta iaculis justo, ut luctus justo interdum in. Fusce vulputate risus non diam ornare tincidunt. Phasellus imperdiet imperdiet libero, sit amet malesuada quam lobortis sit amet. Vestibulum tincidunt tortor iaculis adipiscing vehicula. Donec egestas tempor iaculis. Nulla facilisi. Fusce imperdiet semper justo nec fringilla.
								</p>
								
								<h3>Ils nous ont fait confiance, pourquoi pas vous?</h3>
								<p class="text-justify">
									Vivamus vitae lobortis neque, id molestie neque. Suspendisse molestie justo et purus egestas, at mollis urna dignissim. Praesent eget lorem sit amet leo faucibus semper. Integer aliquet, libero ut accumsan consectetur, est velit egestas enim, a mollis velit sem at dolor. Donec nec egestas erat. Curabitur bibendum elit nec mauris dignissim sodales aliquam et nisi. Integer viverra mollis nisi condimentum ultricies. Ut congue nisi a mattis tempor. Cras mattis egestas orci, quis tristique mi tincidunt in. Morbi consequat venenatis aliquam. Ut facilisis malesuada tincidunt. Quisque eget venenatis tortor. Sed tempus augue mauris, sed imperdiet nisl viverra et. Phasellus vel tempus augue. Integer nec nunc purus. Curabitur dapibus vitae massa ut adipiscing.
								</p>
								<p class="text-justify">
									Sed eu purus magna. Mauris at diam sem. Praesent non bibendum risus. Proin augue sem, tristique id lorem vel, interdum gravida dui. Quisque leo nisi, sagittis sit amet nulla vel, dapibus aliquam arcu. Quisque convallis risus vitae semper luctus. Duis blandit bibendum tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel cursus libero. Nulla urna ipsum, porttitor nec tempor eu, congue vel ante. Aliquam eget vulputate neque, id tincidunt tortor.
								</p>
								<div class="col-sm-12 row" id="Confiance">
									<div class="col-sm-12 row">
										<div class="col-sm-2 col-xs-2">
											<img src="{{ asset('img/Confiance/edf-grand.jpg') }}" class="img-responsive"/>
										</div>
										<div class="col-sm-3 col-xs-3">
											<img src="{{ asset('img/Confiance/GDF-Suez.jpg') }}" class="img-responsive"/>
										</div>
										<div class="col-sm-2 col-xs-2">
											<img src="{{ asset('img/Confiance/logo_orange france.png') }}" class="img-responsive"/>
										</div>
										<div class="col-sm-3 col-xs-3">
											<img src="{{ asset('img/Confiance/samsung-logo.jpg') }}" class="img-responsive"/>
										</div>
										<div class="col-sm-2 col-xs-2">
											<img src="{{ asset('img/Confiance/renault-logo.jpg') }}" class="img-responsive"/>
										</div>
									</div>
									<div class="col-sm-12 row">
										<div class="col-sm-4 col-xs-4">
											<img src="{{ asset('img/Confiance/logo-safran.jpg') }}" class="img-responsive"/>
										</div>
										<div class="col-sm-2 col-xs-2">
											<img src="{{ asset('img/Confiance/logo_RATP.jpg') }}" class="img-responsive"/>
										</div>
										<div class="col-sm-3 col-xs-3">
											<img src="{{ asset('img/Confiance/netgear_logo.jpg') }}" class="img-responsive"/>
										</div>
										<div class="col-sm-3 col-xs-3">
											<img src="{{ asset('img/Confiance/spie-batignolles.jpg') }}" class="img-responsive"/>
										</div>
									</div>
									<div class="col-sm-12 row">
										
										<div class="col-sm-2 col-xs-2">
											<img src="{{ asset('img/Confiance/logo-credit-agricole.jpg') }}" class="img-responsive"/>
										</div>
										<div class="col-sm-3 col-xs-3">
											<img src="{{ asset('img/Confiance/Motorola_logo1.jpg') }}" class="img-responsive"/>
										</div>
										<div class="col-sm-4 col-xs-4">
											<img src="{{ asset('img/Confiance/Thales_logo-566x292.jpg') }}" class="img-responsive"/>
										</div>
										<div class="col-sm-3 col-xs-3">
											<img src="{{ asset('img/Confiance/ege_hec_logo.jpg') }}" class="img-responsive"/>
										</div>
									</div>
								</div>	
							</div>
					
							<!-- <div class="tab-pane " id="elec">
						
								<h2>Electronique</h2>
								
						
							</div>
						
							<div class="tab-pane" id="info">
						
								<p>Info</p>
						
							</div>
							
							<div class="tab-pane" id="managment">
						
								<p>Managment</p>
						
							</div>
							
							<div class="tab-pane" id="bio">
						
								<p>Bio</p>
						
							</div> -->
						 
						
							<div class="panel-group col-sm-12" id="accordion">
								<div class="panel panel-default">
									<div class="panel-heading">
									  <h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#elec" >
										 Electronique 
										</a>
									  </h4>
									</div>
									<div id="elec" class="panel-collapse collapse">
										<div class="panel-body">
											<i class="flaticon-circuit4" ></i>
											<p class="text-justify">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum turpis sapien, eget laoreet lacus aliquet nec. Sed tristique sit amet orci id gravida. Sed eu eros porta, volutpat ligula sit amet, viverra leo. Nulla accumsan, massa vitae condimentum euismod, tellus velit iaculis diam, at pharetra velit lacus id odio. Etiam ac libero erat. Duis eleifend non libero vel aliquam. In euismod hendrerit mauris eget ultricies. Etiam egestas diam nec metus ornare sollicitudin. Maecenas consequat vulputate rhoncus. Nunc tempus purus non blandit ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas felis purus, dignissim eu laoreet et, euismod eu ipsum.
											</p>
											
											<p class="text-justify">
												Cras rhoncus bibendum interdum. Ut varius eu enim eget elementum. Ut dolor sapien, hendrerit vel lorem sit amet, venenatis dapibus mi. Praesent vehicula posuere est. Suspendisse vel lectus vel diam tincidunt rhoncus non eu lacus. Aliquam porttitor a risus vel placerat. Donec ante libero, feugiat non magna porta, consectetur tempus ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas mattis lacinia lacus id facilisis. Quisque fringilla mollis metus ut gravida.
											</p>
											<p class="text-justify">
												Mauris id nunc rhoncus, luctus eros vitae, dapibus nibh. Phasellus lectus ligula, viverra vitae eleifend non, molestie non enim. Nam scelerisque erat sed semper ullamcorper. Aliquam eget tellus sed diam semper mollis. Vestibulum porta iaculis justo, ut luctus justo interdum in. Fusce vulputate risus non diam ornare tincidunt. Phasellus imperdiet imperdiet libero, sit amet malesuada quam lobortis sit amet. Vestibulum tincidunt tortor iaculis adipiscing vehicula. Donec egestas tempor iaculis. Nulla facilisi. Fusce imperdiet semper justo nec fringilla.
											</p>
											<div class="col-sm-4 col-xs-12">
												<h3>Micro-électronique</h3>
												<p class="text-justify">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum turpis sapien, eget laoreet lacus aliquet nec. Sed tristique sit amet orci id gravida. Sed eu eros porta, volutpat ligula sit amet, viverra leo. Nulla accumsan, massa vitae condimentum euismod, tellus velit iaculis diam, at pharetra velit lacus id odio. Etiam ac libero erat. Duis eleifend non libero vel aliquam. In euismod hendrerit mauris eget ultricies. Etiam egestas diam nec metus ornare sollicitudin. Maecenas consequat vulputate rhoncus. Nunc tempus purus non blandit ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas felis purus, dignissim eu laoreet et, euismod eu ipsum.
												</p>
												<p class="text-center">
													<i class="flaticon-cpu1"></i>
												</p>
												<p class="text-center">
													Architectures dédiées numériques
												</p>	
												<p class="text-center">	
													Approche VHDL
												</p>
												<p class="text-center">
													Conception FPGA / ASIC
												</p>	
												<p class="text-center">
													Microsystèmes
												</p>
												<p class="text-center">
													Capteurs intégrés 
												</p>
												<p class="text-center">
													Circuits dédiés
												</p>
												<p class="text-center">
													Systèmes analogiques discrets
												</p>
											</div>
											<div class="col-sm-4 col-xs-12">
												<h3>Robotique et automatique</h3>
												<p class="text-justify">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum turpis sapien, eget laoreet lacus aliquet nec. Sed tristique sit amet orci id gravida. Sed eu eros porta, volutpat ligula sit amet, viverra leo. Nulla accumsan, massa vitae condimentum euismod, tellus velit iaculis diam, at pharetra velit lacus id odio. Etiam ac libero erat. Duis eleifend non libero vel aliquam. In euismod hendrerit mauris eget ultricies. Etiam egestas diam nec metus ornare sollicitudin. Maecenas consequat vulputate rhoncus. Nunc tempus purus non blandit ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas felis purus, dignissim eu laoreet et, euismod eu ipsum.
												</p>
												<p class="text-center">
													<i class="flaticon-joystick5"></i>
												</p>
											</div>
											<div class="col-sm-4 col-xs-12">
												<h3>Génie industriel</h3>
												<p class="text-justify">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum turpis sapien, eget laoreet lacus aliquet nec. Sed tristique sit amet orci id gravida. Sed eu eros porta, volutpat ligula sit amet, viverra leo. Nulla accumsan, massa vitae condimentum euismod, tellus velit iaculis diam, at pharetra velit lacus id odio. Etiam ac libero erat. Duis eleifend non libero vel aliquam. In euismod hendrerit mauris eget ultricies. Etiam egestas diam nec metus ornare sollicitudin. Maecenas consequat vulputate rhoncus. Nunc tempus purus non blandit ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas felis purus, dignissim eu laoreet et, euismod eu ipsum.
												</p>
												<p class="text-center">
													<i class="flaticon-worker8"></i>
												</p>
												<p class="text-center">
													Mesure et contrôle de procédés
												</p>	
												<p class="text-center">	
													Informatique temps réel
												</p>
												<p class="text-center">
													Application Java Temps réel
												</p>	
												<p class="text-center">
													Simulation et commende de sytèmes
												</p>
												<p class="text-center">
													Algorithmes de régulation
												</p>
												<p class="text-center">
													Simulation d'installations automatisées
												</p>
												<p class="text-center">
													Gestion et ordonnancement de taches
												</p>
											</div>
										</div>
									</div>
								</div>
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordion" href="#info">
												Informatique - Télécomunication
												</a>
											</h4>
										</div>
									<div id="info" class="panel-collapse collapse">
										<div class="panel-body">
											<i class="flaticon-pc6"></i> 
											<p class="text-justify">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum turpis sapien, eget laoreet lacus aliquet nec. Sed tristique sit amet orci id gravida. Sed eu eros porta, volutpat ligula sit amet, viverra leo. Nulla accumsan, massa vitae condimentum euismod, tellus velit iaculis diam, at pharetra velit lacus id odio. Etiam ac libero erat. Duis eleifend non libero vel aliquam. In euismod hendrerit mauris eget ultricies. Etiam egestas diam nec metus ornare sollicitudin. Maecenas consequat vulputate rhoncus. Nunc tempus purus non blandit ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas felis purus, dignissim eu laoreet et, euismod eu ipsum.
											</p>
											<p class="text-justify">
												Cras rhoncus bibendum interdum. Ut varius eu enim eget elementum. Ut dolor sapien, hendrerit vel lorem sit amet, venenatis dapibus mi. Praesent vehicula posuere est. Suspendisse vel lectus vel diam tincidunt rhoncus non eu lacus. Aliquam porttitor a risus vel placerat. Donec ante libero, feugiat non magna porta, consectetur tempus ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas mattis lacinia lacus id facilisis. Quisque fringilla mollis metus ut gravida.
											</p>
											<p class="text-justify">
												Mauris id nunc rhoncus, luctus eros vitae, dapibus nibh. Phasellus lectus ligula, viverra vitae eleifend non, molestie non enim. Nam scelerisque erat sed semper ullamcorper. Aliquam eget tellus sed diam semper mollis. Vestibulum porta iaculis justo, ut luctus justo interdum in. Fusce vulputate risus non diam ornare tincidunt. Phasellus imperdiet imperdiet libero, sit amet malesuada quam lobortis sit amet. Vestibulum tincidunt tortor iaculis adipiscing vehicula. Donec egestas tempor iaculis. Nulla facilisi. Fusce imperdiet semper justo nec fringilla.
											</p>
											<div class="col-sm-4 col-xs-12">
												<h3>Réseau</h3>
												<p class="text-justify">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum turpis sapien, eget laoreet lacus aliquet nec. Sed tristique sit amet orci id gravida. Sed eu eros porta, volutpat ligula sit amet, viverra leo. Nulla accumsan, massa vitae condimentum euismod, tellus velit iaculis diam, at pharetra velit lacus id odio. Etiam ac libero erat. Duis eleifend non libero vel aliquam. In euismod hendrerit mauris eget ultricies. Etiam egestas diam nec metus ornare sollicitudin. Maecenas consequat vulputate rhoncus. Nunc tempus purus non blandit ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas felis purus, dignissim eu laoreet et, euismod eu ipsum.
												</p>
												<p class="text-center">
													<i class="flaticon-computers3"></i>
												</p>
												<p class="text-center">
													Architecture de réseaux
												</p>	
												<p class="text-center">	
													Protocole TCP/IP, UDP, X25
												</p>
												<p class="text-center">
													Internet / Intranet
												</p>	
												<p class="text-center">
													Programmation en temps réel en C
												</p>
												<p class="text-center">
													Réseaux de terrains
												</p>
												<p class="text-center">
													Réseaux de communication
												</p>
												<p class="text-center">
													Systèmes répartis
												</p>
											</div>
											<div class="col-sm-4 col-xs-12">
												<h3>Informatique généraliste</h3>
												<p class="text-justify">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum turpis sapien, eget laoreet lacus aliquet nec. Sed tristique sit amet orci id gravida. Sed eu eros porta, volutpat ligula sit amet, viverra leo. Nulla accumsan, massa vitae condimentum euismod, tellus velit iaculis diam, at pharetra velit lacus id odio. Etiam ac libero erat. Duis eleifend non libero vel aliquam. In euismod hendrerit mauris eget ultricies. Etiam egestas diam nec metus ornare sollicitudin. Maecenas consequat vulputate rhoncus. Nunc tempus purus non blandit ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas felis purus, dignissim eu laoreet et, euismod eu ipsum.
												</p>
												<p class="text-center">
													<i class="flaticon-cloud228"></i> 
												</p>
												<p class="text-center">
													HTML/CSS/JavaScript
												</p>	
												<p class="text-center">	
													CMS/Blogs
												</p>
												<p class="text-center">
													PHP/Base de données
												</p>	
												<p class="text-center">
													Intelligence artificielle
												</p>
												<p class="text-center">
													Traitement de l'image
												</p>
												<p class="text-center">
													Systèmes d'exploitation
												</p>
											</div>
											<div class="col-sm-4 col-xs-12">
												<h3>Signal / télécom.</h3>
												<p class="text-justify">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum turpis sapien, eget laoreet lacus aliquet nec. Sed tristique sit amet orci id gravida. Sed eu eros porta, volutpat ligula sit amet, viverra leo. Nulla accumsan, massa vitae condimentum euismod, tellus velit iaculis diam, at pharetra velit lacus id odio. Etiam ac libero erat. Duis eleifend non libero vel aliquam. In euismod hendrerit mauris eget ultricies. Etiam egestas diam nec metus ornare sollicitudin. Maecenas consequat vulputate rhoncus. Nunc tempus purus non blandit ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas felis purus, dignissim eu laoreet et, euismod eu ipsum.
												</p>
												<p class="text-center">
													<i class="flaticon-mobile19"></i> 
												</p>
												<p class="text-center">
													Communications numériques
												</p>	
												<p class="text-center">	
													Radiocommunications
												</p>
												<p class="text-center">
													Circuits intégrés hyperfréquences
												</p>	
												<p class="text-center">
													NTIC : wifi, bluetooth, zigbee...
												</p>
												<p class="text-center">
													Applications de localisation (GPS,...)
												</p>
												<p class="text-center">
													Traitement de la parole
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#managment">
											Management
											</a>
										</h4>
									</div>
									<div id="managment" class="panel-collapse collapse">
										<div class="panel-body">
											<i class="flaticon-data45"></i>
											<p class="text-justify">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum turpis sapien, eget laoreet lacus aliquet nec. Sed tristique sit amet orci id gravida. Sed eu eros porta, volutpat ligula sit amet, viverra leo. Nulla accumsan, massa vitae condimentum euismod, tellus velit iaculis diam, at pharetra velit lacus id odio. Etiam ac libero erat. Duis eleifend non libero vel aliquam. In euismod hendrerit mauris eget ultricies. Etiam egestas diam nec metus ornare sollicitudin. Maecenas consequat vulputate rhoncus. Nunc tempus purus non blandit ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas felis purus, dignissim eu laoreet et, euismod eu ipsum.
											</p>
											<p class="text-justify">
												Cras rhoncus bibendum interdum. Ut varius eu enim eget elementum. Ut dolor sapien, hendrerit vel lorem sit amet, venenatis dapibus mi. Praesent vehicula posuere est. Suspendisse vel lectus vel diam tincidunt rhoncus non eu lacus. Aliquam porttitor a risus vel placerat. Donec ante libero, feugiat non magna porta, consectetur tempus ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas mattis lacinia lacus id facilisis. Quisque fringilla mollis metus ut gravida.
											</p>
											<p class="text-justify">
												Mauris id nunc rhoncus, luctus eros vitae, dapibus nibh. Phasellus lectus ligula, viverra vitae eleifend non, molestie non enim. Nam scelerisque erat sed semper ullamcorper. Aliquam eget tellus sed diam semper mollis. Vestibulum porta iaculis justo, ut luctus justo interdum in. Fusce vulputate risus non diam ornare tincidunt. Phasellus imperdiet imperdiet libero, sit amet malesuada quam lobortis sit amet. Vestibulum tincidunt tortor iaculis adipiscing vehicula. Donec egestas tempor iaculis. Nulla facilisi. Fusce imperdiet semper justo nec fringilla.
											</p>
											
											<div class="col-sm-4 col-xs-12">
												<h3>Marketing</h3>
												<p class="text-justify">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum turpis sapien, eget laoreet lacus aliquet nec. Sed tristique sit amet orci id gravida. Sed eu eros porta, volutpat ligula sit amet, viverra leo. Nulla accumsan, massa vitae condimentum euismod, tellus velit iaculis diam, at pharetra velit lacus id odio. Etiam ac libero erat. Duis eleifend non libero vel aliquam. In euismod hendrerit mauris eget ultricies. Etiam egestas diam nec metus ornare sollicitudin. Maecenas consequat vulputate rhoncus. Nunc tempus purus non blandit ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas felis purus, dignissim eu laoreet et, euismod eu ipsum.
												</p>
												<p class="text-center">
													<i class="flaticon-ecommerce1"></i> 
												</p>
											</div>
											<div class="col-sm-4 col-xs-12">
												<h3>Etudes de marché</h3>
												<p class="text-justify">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum turpis sapien, eget laoreet lacus aliquet nec. Sed tristique sit amet orci id gravida. Sed eu eros porta, volutpat ligula sit amet, viverra leo. Nulla accumsan, massa vitae condimentum euismod, tellus velit iaculis diam, at pharetra velit lacus id odio. Etiam ac libero erat. Duis eleifend non libero vel aliquam. In euismod hendrerit mauris eget ultricies. Etiam egestas diam nec metus ornare sollicitudin. Maecenas consequat vulputate rhoncus. Nunc tempus purus non blandit ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas felis purus, dignissim eu laoreet et, euismod eu ipsum.
												</p>
												<p class="text-center">
													<i class="flaticon-market"></i> 
												</p>
											</div>
											<div class="col-sm-4 col-xs-12">
												<h3>Traduction de documents</h3>
												<p class="text-justify">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum turpis sapien, eget laoreet lacus aliquet nec. Sed tristique sit amet orci id gravida. Sed eu eros porta, volutpat ligula sit amet, viverra leo. Nulla accumsan, massa vitae condimentum euismod, tellus velit iaculis diam, at pharetra velit lacus id odio. Etiam ac libero erat. Duis eleifend non libero vel aliquam. In euismod hendrerit mauris eget ultricies. Etiam egestas diam nec metus ornare sollicitudin. Maecenas consequat vulputate rhoncus. Nunc tempus purus non blandit ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas felis purus, dignissim eu laoreet et, euismod eu ipsum.
												</p>
												<p class="text-center">
													<i class="flaticon-passport2"></i> 
												</p>
											</div>
										</div>
									</div>
								 </div>
								 <div class="panel panel-default">
									<div class="panel-heading">
									  <h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#bio">
										  Biotechnologies
										</a>
									  </h4>
									</div>
									<div id="bio" class="panel-collapse collapse">
										<div class="panel-body">
											<i class="flaticon-bio5"></i> 
											<p class="text-justify">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum turpis sapien, eget laoreet lacus aliquet nec. Sed tristique sit amet orci id gravida. Sed eu eros porta, volutpat ligula sit amet, viverra leo. Nulla accumsan, massa vitae condimentum euismod, tellus velit iaculis diam, at pharetra velit lacus id odio. Etiam ac libero erat. Duis eleifend non libero vel aliquam. In euismod hendrerit mauris eget ultricies. Etiam egestas diam nec metus ornare sollicitudin. Maecenas consequat vulputate rhoncus. Nunc tempus purus non blandit ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas felis purus, dignissim eu laoreet et, euismod eu ipsum.
											</p>
											<p class="text-justify">
												Cras rhoncus bibendum interdum. Ut varius eu enim eget elementum. Ut dolor sapien, hendrerit vel lorem sit amet, venenatis dapibus mi. Praesent vehicula posuere est. Suspendisse vel lectus vel diam tincidunt rhoncus non eu lacus. Aliquam porttitor a risus vel placerat. Donec ante libero, feugiat non magna porta, consectetur tempus ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas mattis lacinia lacus id facilisis. Quisque fringilla mollis metus ut gravida.
											</p>
											<p class="text-justify">
												Mauris id nunc rhoncus, luctus eros vitae, dapibus nibh. Phasellus lectus ligula, viverra vitae eleifend non, molestie non enim. Nam scelerisque erat sed semper ullamcorper. Aliquam eget tellus sed diam semper mollis. Vestibulum porta iaculis justo, ut luctus justo interdum in. Fusce vulputate risus non diam ornare tincidunt. Phasellus imperdiet imperdiet libero, sit amet malesuada quam lobortis sit amet. Vestibulum tincidunt tortor iaculis adipiscing vehicula. Donec egestas tempor iaculis. Nulla facilisi. Fusce imperdiet semper justo nec fringilla.
											</p>
											<div class="col-sm-4 col-xs-12">
												<h3>Energies renouvelables</h3>
												<p class="text-justify">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum turpis sapien, eget laoreet lacus aliquet nec. Sed tristique sit amet orci id gravida. Sed eu eros porta, volutpat ligula sit amet, viverra leo. Nulla accumsan, massa vitae condimentum euismod, tellus velit iaculis diam, at pharetra velit lacus id odio. Etiam ac libero erat. Duis eleifend non libero vel aliquam. In euismod hendrerit mauris eget ultricies. Etiam egestas diam nec metus ornare sollicitudin. Maecenas consequat vulputate rhoncus. Nunc tempus purus non blandit ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas felis purus, dignissim eu laoreet et, euismod eu ipsum.
												</p>
												<p class="text-center">
													<i class="flaticon-green2"></i> 
												</p>
											</div>
											<div class="col-sm-4 col-xs-12">
												<h3>Bio industrie</h3>
												<p class="text-justify">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum turpis sapien, eget laoreet lacus aliquet nec. Sed tristique sit amet orci id gravida. Sed eu eros porta, volutpat ligula sit amet, viverra leo. Nulla accumsan, massa vitae condimentum euismod, tellus velit iaculis diam, at pharetra velit lacus id odio. Etiam ac libero erat. Duis eleifend non libero vel aliquam. In euismod hendrerit mauris eget ultricies. Etiam egestas diam nec metus ornare sollicitudin. Maecenas consequat vulputate rhoncus. Nunc tempus purus non blandit ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas felis purus, dignissim eu laoreet et, euismod eu ipsum.
												</p>
												<p class="text-center">
													<i class="flaticon-eco43"></i> 
												</p>
											</div>
											<div class="col-sm-4 col-xs-12">
												<h3>Ingénieurie des matériaux</h3>
												<p class="text-justify">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum turpis sapien, eget laoreet lacus aliquet nec. Sed tristique sit amet orci id gravida. Sed eu eros porta, volutpat ligula sit amet, viverra leo. Nulla accumsan, massa vitae condimentum euismod, tellus velit iaculis diam, at pharetra velit lacus id odio. Etiam ac libero erat. Duis eleifend non libero vel aliquam. In euismod hendrerit mauris eget ultricies. Etiam egestas diam nec metus ornare sollicitudin. Maecenas consequat vulputate rhoncus. Nunc tempus purus non blandit ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas felis purus, dignissim eu laoreet et, euismod eu ipsum.
												</p>
												<p class="text-center">
													<i class="flaticon-bricks3"></i> 
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					
					
					<div class="tab-pane" id="Etude" >
					
						<h3 class="text-center">Un processus d'étude rodé</h3>
					
						<div class="col-sm-10 col-sm-offset-1 text-center">
							<i class="flaticon-phone322" ></i>
							<h3>Premier contact</h3>
							<h4>Notre équipe s’engage à <strong>répondre</strong> à vos demandes sous <strong>48h</strong>.</h4>
						</div>
						<div class="col-sm-12">
							<p class="text-center">
								<i class="fa fa-arrow-circle-down" ></i>
							</p>
						</div>	
						
						<div class="col-sm-10 col-sm-offset-1 text-center">
							<i class="flaticon-men14" ></i>
							<h3>Analyse de vos besoins</h3>
							<h4>Nous prendrons du <strong>temps</strong> avec vous pour comprendre vos <strong>besoins</strong>, les <strong>analyser</strong> en vous proposant des sources d’<strong>améliorations</strong> envisagebles.</h4>
						</div>
						<div class="col-sm-12">
							<p class="text-center">
								<i class="fa fa-arrow-circle-down" ></i>
							</p>
						</div>	
						
						<div class="col-sm-10 col-sm-offset-1 text-center">
							<i class="flaticon-verification5" ></i>
							<h3>Proposition d'étude</h3>
							<h4>A la suite de l’<strong>analyse</strong> de vos besoins, un <strong>chargé de projet</strong> réalisera une <strong>proposition d’étude</strong> contenant :<br/><br/>
								<ul style="list-style-type:none">
									<li></li>
									<li>Les <strong>étapes</strong> de la réalisation</li>
									<li>Un <strong>devis détaillé</strong> (étape par étape)</li>
									<li>Un <strong>planning</strong> de réalisation des étapes</li>
								</ul>
							</h4>
						</div>
						<div class="col-sm-12">
							<p class="text-center">
								<i class="fa fa-arrow-circle-down" ></i>
							</p>
						</div>	
						
						<div class="col-sm-10 col-sm-offset-1 text-center">
							<i class="flaticon-businessman116" ></i>
							<h3>Déroulement de l'étude</h3>
							<h4>Le chargé de projet vous <strong>informe</strong> de l’avancement de votre projet <strong>semaine après semaine</strong>.</h4>
						</div>
						<div class="col-sm-12">
							<p class="text-center">
								<i class="fa fa-arrow-circle-down" ></i>
							</p>
						</div>	
						
						<div class="col-sm-10 col-sm-offset-1 text-center">
							<i class="flaticon-delivery35" ></i>
							<h3>Remise du projet</h3>
							<h4>Une fois l'étude <strong>finalisée</strong>, votre <strong>projet</strong> ainsi qu’un <strong>rapport d’étude</strong> vous seront remis avec une <strong>garantie de 3 mois</strong>.</h4>
						</div>	
					</div>
					
					
				</div>
			</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
	<script>
		$(function(){
			$(".a-menu").click(function() {
				$('html, body').animate(
				{
					scrollTop: $($(this).attr("href")).parent().offset().top
				}
				, 1500);
			}); 
		});	
	</script>
	
{% endblock %}
	