<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Coucou{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
                'bundles/junioresieebusiness/css/smoothness/jquery-ui-1.10.3.custom.min.css'
                'bundles/junioresieebusiness/css/semantic.1.0.1.min.css'
                'bundles/junioresieebusiness/less/global.less'
                'bundles/junioresieebusiness/less/form.less'
                'bundles/junioresieebusiness/less/table.less'
                filter='cssrewrite'
                output="css/base-tool.css"
            %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.png') }}" />
    </head>
    <body>
        {% import '::helper.html.twig' as helper %}

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="ui notification sidebar vertical">
                <div class="ui feed">
                    <h4 class="ui header">Notifications</h4>
                    {% for notification in getNofications(app.user) %}
                        <div class="event">
                            <div class="content">
                                <div class="date">
                                    {{ notification.date|format_datetime }}
                                </div>
                                <div class="summary">
                                    {{ notification.safeMessage|raw }}
                                </div>
                            </div>
                        </div>
                    {% else %}
                        Pas de notification pour le moment. 
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="pusher">
        <div class="ui tiered menu fix-menu">
            <div class="menu">
                <a {{ helper.current('page_tool_index', 'page_tool_index') }}>
                    <i class="home icon"></i>
                    Accueil
                </a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a {{ helper.current('je_user', 'je_user_users') }}>
                        <i class="users icon"></i>
                        Utilisateurs
                    </a>
                {% endif %}
{#                 {% if is_granted('ROLE_TREZ') %}
                    <a {{ helper.current('je_finances', 'je_finances_treasury') }}>
                        <i class="dollar icon"></i>
                        Trésorerie
                    </a>
                    <a {{ helper.current('je_stat', 'je_stat_index') }}>
                        <i class="tasks icon"></i>
                        Indicateurs
                    </a>
                {% endif %} #}
                {% if is_granted('ROLE_COMMERCIAL') %}
                    <a {{ helper.current('je_business', 'je_business_my_project') }}>
                        <i class="browser icon"></i>
                        Projets
                    </a>
                {% endif %}
{#                 {% if is_granted('ROLE_COMMUNICATION') %}
                    <a {{ helper.current('je_events', 'page_tool_index') }}>
                        <i class="bullhorn icon"></i>
                        Evénementiel
                    </a>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a {{ helper.current('je_bargain', 'page_tool_index') }}>
                        <i class="money icon"></i>
                        Stage
                    </a>
                {% endif %} #}

                <div class="right menu">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <a class="item notification" data-transition="overlay" data-direction="right">
                            {% set unreadNotification = countUnreadNotifications(app.user) %}
                            <div class="ui {% if unreadNotification > 0 %}red{% else %}black{% endif %} circular small label">
                                <i class="bell outline icon"></i> {{ unreadNotification }}
                            </div>
                        </a>
                        <a {{ helper.current('fos_user_profile', 'sonata_user_profile_show') }}>
                            <i class="settings icon"></i>
                            Parametres
                        </a>
                        <a class="item" href="{{ path('sonata_user_security_logout') }}">
                            <i class="power icon"></i>
                            Déconnexion
                        </a>
                    {% else %}
                        <a class="item" href="{{ path('sonata_user_security_login') }}">
                            <i class="power icon"></i>
                            Connexion
                        </a>
                    {% endif %}
                </div>
            </div>

            {% set route = app.request.get('_route') %}
            {% if 'page_tool_index' not in route and 'fos_user_profile' not in route %}
            <div class="ui sub menu">
                {% if 'je_user' in route %}
                    <a {{ helper.current('je_user_users') }}>Equipe</a>
                    <a {{ helper.current('je_user_groups') }}>Postes</a>
                {% endif %}

                {% if 'je_business' in route %}
                    <a {{ helper.current('je_business_my_project') }}>Mes AP</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a {{ helper.current('je_business_project_in_progress') }}>AP en cours</a>
                        <a {{ helper.current('je_business_project_inbox') }}>Boite de réception</a>
                    {% endif %}
                    <a {{ helper.current('je_business_project_new') }}>Déposer un AP</a>
                    {% if is_granted('ROLE_CHARGE') %}
                        <div class="item{% if 'je_business_project_waiting' in route %} active{% endif %}">
                            <div class="ui pointing dropdown">
                                <span class="text">AP en attente</span>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <a {{ helper.current('je_business_project_waiting_students') }}>d'intervenant</a>
                                    <a {{ helper.current('je_business_project_waiting_commercial') }}>de suivi commercial</a>
                                    <a {{ helper.current('je_business_project_waiting_information') }}>de renseignements supplémentaires</a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <a {{ helper.current('je_business_project_waiting_students') }}>AP en attente d'intervenants</a>
                    {% endif %}
                    {% if is_granted('ROLE_CHARGE') %}
                        <a {{ helper.current('je_business_project_aborted') }}>AP avortés</a>
                    {% endif %}
                    <a {{ helper.current('je_business_project_closed') }}>AP clôturés</a>
                {% endif %}

                {% if 'je_events' in route %}
                    <a class="item active">Evènements Junior</a>
                    <a class="item">Evènements Entreprise</a>
                    <a class="item">Recrutement</a>
                    <a class="item">Ajouter un événement</a>
                {% endif %}

                {% if 'je_finances' in route %}
                    <a {{ helper.current('je_finances_treasury') }}>Trésorerie réelle</a>
                    <a {{ helper.current('je_finances_taxes') }}>TVA</a>
                    <div class="item{% if 'je_finances_urssaf' in route %} active{% endif %}">
                        <div class="ui pointing dropdown">
                            <span class="text">URSSAF</span>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <a href="{{ path('je_finances_urssaf_year') }}" class="item">URSSAF annuel</a>
                                <a href="{{ path('je_finances_urssaf_month') }}" class="item">URSSAF mensuel</a>
                            </div>
                        </div>
                    </div>
                    <a {{ helper.current('je_finances_fc') }}>Factures clients</a>
                    <a {{ helper.current('je_finances_bv') }}>Bulletins de versement</a>
                    <a {{ helper.current('je_finances_ff') }}>Factures fournisseurs / RF</a>
                    <a {{ helper.current('je_finances_vars') }}>Variables</a>
                {% endif %}

                {% if 'je_stat' in route %}
                    <a {{ helper.current('je_stat_index') }}>Stats</a>
                    <a {{ helper.current('je_stat_finances_treasury') }}>Trésorerie réelle</a>
                {% endif %}
            </div>
            {% endif %}
        </div>

        <div class="content">
            {% for type, flashMessages in app.session.flashbag.all() %}
                {% for flashMessage in flashMessages %}
                <div class="ui {{ type }} message">
                    <i class="close icon"></i>
                    <div class="header">{{ flashMessage|raw }}</div>
                </div>             
                {% endfor %}
            {% endfor %}
            {% block content %}{% endblock %}
        </div>
        </div>

        {% block javascripts %}
            <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            {% javascripts
                'bundles/junioresieebusiness/js/jquery-ui-1.10.3.custom.min.js'
                'bundles/junioresieebusiness/js/semantic.1.0.1.min.js'
                'bundles/junioresieebusiness/js/form.js'
                'bundles/junioresieebusiness/js/table.js'
                output="js/base-tool.js"
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <script type="text/javascript">
                var unread = {{ unreadNotification }};
                $('.item.notification').click(function () {
                    $('.notification.sidebar').sidebar({overlay: true}).sidebar('toggle');
                    if (unread > 0) {
                        $.get("{{ url('junior_esiee_notification_api_mark_all_as_read') }}", function(response) {
                            $('a.item.notification > div.ui.red').removeClass('red').addClass('black').html('<i class="bell outline icon"></i> 0');
                            unread = 0;
                        });
                    }
                });
            </script>
        {% endif %}
        {% endblock %}
    </body>
</html>
