{% extends '::layout.html.twig' %}

{% block title 'Bulletins de versement' %}

{% block content %}
    <div class="col-sm-12">
        <div class="box">
            <div class="box-body table-responsive no-padding">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        {{ knp_pagination_sortable(slips, "Référence", 's.ref') }}
                        {{ knp_pagination_sortable(slips, "BV", 's.bv') }}
                        {{ knp_pagination_sortable(slips, "Date", 's.createdAt') }}
                        {{ knp_pagination_sortable(slips, "Client", 's.client') }}
                        {{ knp_pagination_sortable(slips, "Réalisateur", 's.student') }}
                        <th style="padding: 0em;">Montant HT</th>
                        <th style="padding: 0em;">Nb JEH</th>
                        <th style="padding: 0em;">URSSAF</th>
                        <th style="padding: 0em;">Montant TTC</th>
                        <th style="padding: 0em;">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for slip in slips %}
                    <tr>
                        <td>{{ slip.ref }}</td>
                        <td>{{ slip.bv }}</td>
                        <td>{{ slip.createdAt|date('d/m/Y') }}</td>
                        <td>{{ slip.client }}</td>
                        <td>{{ slip.student }}</td>
                        <td>{{ slip.amount|money }}</td>
                        <td>{{ slip.numberOfDays }}</td>
                        <td>{{ slip.urssaf|money }}</td>
                        <td>{{ slip.totalAmount|money }}</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Actions&nbsp;&nbsp;<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    {% if slip.hasFile %}
                                        <li>
                                            <a href="{% path slip.file, 'reference' %}" class="item">
                                                <i class="fa fa-fw fa-file"></i> Document
                                            </a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a href="{{ path('je_finances_bv_edit', {bv:slip.bv}) }}" class="item">
                                            <i class="fa fa-fw fa-pencil"></i> Editer
                                        </a>
                                    </li>
                                    <li>
                                        <a class="item">
                                            <i class="fa fa-fw fa-trash"></i> Supprimer
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% else %}
                        <tr>
                            <td colspan="10">
                                Aucun BV
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div><!-- /.box-body -->
            <div class="box-footer clearfix">
                <a class="btn btn-success btn-lg" href="{{ path('je_finances_bv_new') }}">Nouveau</a>
                {{ knp_pagination_render(slips) }}
            </div>
        </div><!-- /.box -->
    </div>
{% endblock %}