{% extends '::layout.html.twig' %}

{% block title "Liste des postes" %}

{% block content %}
    <div class="col-sm-12">
        <div class="box">
            <div class="box-body table-responsive no-padding">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Droits</th>
                            <th>Utilisateurs</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for group in groups %}
                            <tr>
                                <td><a href="{{ path('je_user_groups_edit', {id:group.id}) }}">{{ group }}</a></td>
                                <td>
                                    {% if group.roles|length == 0 %}
                                        Aucun droits
                                    {% else %}
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                {{ group.roles|length }} {{ 'droit|droits'|transchoice(group.roles|length) }}&nbsp;&nbsp;<span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu" style="min-width:260px;">
                                                {% for role in group.roles %}
                                                    <li>{{ role|trans({}, 'roles')|raw }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if group.users|length == 0 %}
                                        Aucun utilisateur
                                    {% elseif group.users|length == 1 %}
                                        {{ group.users[0]|linkUser }}
                                    {% else %}
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                {{ group.users|length }} utilisateurs&nbsp;&nbsp;<span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu" style="min-width:200px;">
                                                {% for user in group.users %}
                                                    <li>{{ user|linkUser({class:'item'}) }}</li>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            Actions&nbsp;&nbsp;<span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                            <li>
                                                <a href="{{ path('je_user_groups_edit', {id:group.id}) }}">
                                                    <i class="fa fa-fw fa-pencil"></i> Editer
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    <i class="fa fa-fw fa-trash"></i> Supprimer
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">
                                    Aucun postes
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div><!-- /.box-body -->
            <div class="box-footer clearfix">
                <a class="btn btn-success btn-lg" href="{{ path('je_user_groups_new') }}">Nouveau</a>
            </div>
        </div><!-- /.box -->
        </div>
    </div>
{% endblock %}