{% extends 'ApplicationSonataUserBundle::layout.html.twig' %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-sm-2">
            {% import '::helper.html.twig' as helper %}
            {% block sonata_profile_menu %}
                <div class="list-group">
                    <a class="list-group-item {{ helper.active('fos_user_profile_show') }}" href="{{ path('fos_user_profile_show') }}">{{ "title_dashboard"|trans({}, 'SonataAdminBundle') }}</a>
                    <a class="list-group-item {{ helper.active('fos_user_profile_edit', true) }}" href="{{ path('fos_user_profile_edit') }}">Mon profil</a>
                    <a class="list-group-item {{ helper.active('_authentication') }}" href="{{ path('fos_user_profile_edit_authentication') }}">Informations de connexion</a>
                </div>
            {% endblock %}
        </div>

        <div class="col-sm-10">
            {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}

            {% block sonata_profile_content '' %}
        </div>
    </div>
{% endblock %}

{% block title block('sonata_profile_title') %}
