{% extends "SonataUserBundle:Profile:action.html.twig" %}

{% block sonata_profile_title %}
    Informations de connexion - {{ "title_user_edit_profile" | trans({}, 'SonataUserBundle')}}
{% endblock %}

{% block sonata_profile_content %}
    {% form_theme form 'JuniorEsieeBusinessBundle:Form:form_div_layout.html.twig' %}
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-6">
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">{{ 'title_user_edit_authentication'|trans({}, 'SonataUserBundle') }}</h3>
                    </div>
                    <div class="box-body">
                        <form action="{{ path('sonata_user_profile_edit_authentication') }}" method="POST">
                            {{ form_widget(form) }}

                            <button type="submit" name="submit" class="btn btn-lg btn-info pull-right">{{ 'sonata_user_submit'|trans({}, 'SonataUserBundle') }}</button>
                        </form>
                    </div>
                </div>
            </div>
             <div class="col-sm-6">
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">{{ 'sonata_change_password_link'|trans({}, 'SonataUserBundle') }}</h3>
                    </div>
                    <div class="box-body">
                        {% render url("sonata_user_change_password") %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
