


{% block form_row %}
{% spaceless %}
	{% if not compound %}
    <div class="form-group">

		{{ form_label(form) }}
			
	
		<div class="col-sm-9">
			{{ form_errors(form) }}
			{{ form_widget(form) }}
		</div>
		
   </div>
   {% else %}
	{{ form_label(form) }}
	{{ form_errors(form) }}
	{{ form_widget(form) }}
	{% endif %}
   
{% endspaceless %}
{% endblock form_row %}


{% block form_label %}
{% spaceless %}
	{% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' col-sm-3 control-label')|trim}) %}
	{% if not compound %}
		{% set label_attr = label_attr|merge({'for': id}) %}
	{% endif %}
	{% if required %}
		{% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
	{% endif %}
	{% if label is empty %}
		{% set label = name|humanize %}
	{% endif %}
	{% if label is not sameas("Common") %}
			<label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }} +{% if required %}"*"{%endif%}" {% endfor %} >{{ label|trans({}, translation_domain) }}
			{% if required %}
               <span title="Ce champ est obligatoire">*</span>
            {% endif %}</label>
	{% endif %}
{% endspaceless %}
{% endblock form_label %}



{% block form_widget_simple %}
{% spaceless %}
    {% set type = type|default('text') %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} class="form-control"/>
{% endspaceless %}
{% endblock form_widget_simple %}



{% block choice_widget_collapsed %}
{% spaceless %}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %} class="form-control">
        {% if empty_value is not none %}
            <option value="">{{ empty_value|trans({}, translation_domain) }}</option>
        {% endif %}
        {% if preferred_choices|length > 0 %}
            {% set options = preferred_choices %}
            {{ block('choice_widget_options') }}
            {% if choices|length > 0 and separator is not none %}
                <option disabled="disabled">{{ separator }}</option>
            {% endif %}
        {% endif %}
        {% set options = choices %}
        {{ block('choice_widget_options') }}
    </select>
{% endspaceless %}
{% endblock choice_widget_collapsed %}


{% block textarea_widget %}
{% spaceless %}
    <textarea {{ block('widget_attributes') }} class="form-control" style="resize:none;">{{ value }}</textarea>
{% endspaceless %}
{% endblock textarea_widget %}