{% extends 'ApplicationSonataUserBundle::base.html.twig' %}

{% block title 'resetting.reset.submit'|trans({}, 'FOSUserBundle') %}

{% block content %}
    <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" role="form">
        {% if not form.vars.valid %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ form_errors(form) }}
            </div>
        {% endif %}

        {{ form_row(form.new.first) }}
        {{ form_row(form.new.second) }}

        {{ form_rest(form) }}
        <div class="row">
            <div class="col-xs-offset-5 col-xs-7">
                <button type="submit" class="btn btn-primary btn-block btn-flat">{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}</button>
            </div><!-- /.col -->
        </div>
    </form>
{% endblock %}

