{% extends 'BraincraftedBootstrapBundle:Form:bootstrap.html.twig' %}

{% block checkbox_widget %}
    {% spaceless %}
        <input type="checkbox" class="icheck" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />&nbsp;&nbsp;
    {% endspaceless %}
{% endblock checkbox_widget %}

{% block radio_widget %}
    {% spaceless %}
        <input type="radio" class="icheck" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />&nbsp;&nbsp;
    {% endspaceless %}
{% endblock radio_widget %}

{% block association_list_widget -%}
    {% set attr = attr|merge({'class': ' association_list_type'}) %}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %} style="display: none;">
        {% if empty_value is not none %}
            <option value="">{{ empty_value|trans({}, translation_domain) }}</option>
        {% endif %}
        {% set options = choices -%}
        {% for choice in options %}
            <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans({}, translation_domain) }}</option>
        {% endfor %}
    </select>
    <script type="text/javascript">
        var {{ id }}_choice = {
        {% for key, value in options %}
            {{value.data.id }}: {{ value.data | serialize('json') | raw }},
        {% endfor %}
            'multiple': {{ multiple ? 'true' : 'false' }},
        };
    </script>
    <div class="modal fade" id="{{ id }}_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Ajouter {{ name }}</h4>
                </div>
                <div class="modal-body">
                    <table class="ui table segment">
                        <thead>
                            <tr>
                                {% for property in form.vars.properties %}
                                    <th>{{ property }}</th>
                                {% endfor %}
                                <th>Select</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for choice in options if form.vars.role is null or isUserGranted(choice.data, form.vars.role) %}
                                    <tr class="hoverhidden">
                                        {% for property in form.vars.properties %}
                                            <td>{{ attribute(choice.data, property) }}</td>
                                        {% endfor %}
                                        <td>
                                            <div class="btn btn-default select-line" target="{{ id }}" target-value="{{ choice.data.id }}">
                                                Choisir
                                            </div>
                                        </td>
                                    </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="3">
                                    {# <div class="ui blue labeled icon button"><i class="user icon"></i> Add {{ name }}</div> #}
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="btn btn-default" data-dismiss="modal">Annuler</div>
                    <div class="btn btn-primary">OK</div>
                </div>
            </div>
        </div>
    </div>
    {% if not multiple %}
        <input id="{{ id }}_value" type="text" disabled="disabled" value="{% for choice in options if choice is selectedchoice(value) %}{{ choice.label|trans({}, translation_domain) }}{% endfor %}" class="form-control" style="width: 150px;margin-right: 10px;" /><br />
    {% endif %}
    <div class="ui small buttons">
        <button type="button" class="btn bg-teal" id="{{ id }}_list" data-toggle="modal" data-target="#{{ id }}_modal">Liste</button>&nbsp;
        <button type="button" class="btn btn-danger" id="{{ id }}_delete">Supprimer</button>
    </div>
    <br />
    {% if multiple %}
        <ul id="{{ id }}_value">
            {% for choice in options if choice is selectedchoice(value) %}
                <li>{{ choice.label|trans({}, translation_domain) }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{%- endblock %}
