{% extends '::layout.html.twig' %}

{% block title 'Factures fournisseurs / RF' %}

{% block content %}
    <div class="col-sm-12">
        <div class="box">
            <div class="box-body table-responsive no-padding">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        {{ knp_pagination_sortable(invoices, "Référence", 'i.ref') }}
                        {{ knp_pagination_sortable(invoices, "Date", 'i.createdAt') }}
                        {{ knp_pagination_sortable(invoices, "Récepteur", 'i.supplier') }}
                        <th>Déscription</th>
                        <th>Montant HT</th>
                        <th>Montant TTC</th>
                        <th>19.6 %</th>
                        <th>7.0 %</th>
                        <th>5.5 %</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for invoice in invoices %}
                    <tr>
                        <td>{{ invoice.ref }}</td>
                        <td>{{ invoice.createdAt|date('d/m/Y') }}</td>
                        <td>{{ invoice.supplier }}</td>
                        <td>{{ invoice.description }}</td>
                        <td>{{ invoice.amount|money }}</td>
                        <td>{{ invoice.totalAmount|money }}</td>
                        <td>{{ invoice.taxesHigh|money }}</td>
                        <td>{{ invoice.taxesMedium|money }}</td>
                        <td>{{ invoice.taxesLow|money }}</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Actions&nbsp;&nbsp;<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    <li>
                                        <a href="{{ path('je_finances_ff_edit', {ref:invoice.ref}) }}">
                                            <i class="fa fa-fw fa-pencil"></i> Editer
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="fa fa-fw fa-trash"></i> Supprimer
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% else %}
                        <tr>
                            <td colspan="10">
                                Aucun FF / RF
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div><!-- /.box-body -->
            <div class="box-footer clearfix">
                <a class="btn btn-success btn-lg" href="{{ path('je_finances_ff_new') }}">Nouveau</a>
                {{ knp_pagination_render(invoices) }}
            </div>
        </div><!-- /.box -->
    </div>
{% endblock %}