{% extends '::layout.html.twig' %}

{% block title 'Factures fournisseurs / RF' %}

{% block content %}
    <h1 class="ui header">
        {{ block('title') }}
    </h1>

    <table class="ui compact table">
        <thead>
        <tr>
            {{ knp_pagination_sortable(invoices, "Référence", 'i.ref') }}
            {{ knp_pagination_sortable(invoices, "Date", 'i.createdAt') }}
            {{ knp_pagination_sortable(invoices, "Récepteur", 'i.supplier') }}
            <th style="padding: 0em;">Déscription</th>
            <th style="padding: 0em;">Montant HT</th>
            <th style="padding: 0em;">Montant TTC</th>
            <th style="padding: 0em;">19.6 %</th>
            <th style="padding: 0em;">7.0 %</th>
            <th style="padding: 0em;">5.5 %</th>
            <th style="padding: 0em;">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for invoice in invoices %}
        <tr>
            <td>{{ invoice.ref }}</td>
            <td>{{ invoice.createdAt|date('d/m/Y') }}</td>
            <td>{{ invoice.supplier }}</td>
            <td>{{ invoice.description }}</td>
            <td>{{ invoice.amount|money }}</td>
            <td>{{ invoice.totalAmount|money }}</td>
            <td>{{ invoice.taxesHigh|money }}</td>
            <td>{{ invoice.taxesMedium|money }}</td>
            <td>{{ invoice.taxesLow|money }}</td>
            <td>
                <div class="ui labeled icon top right pointing dropdown mini button">
                    <i class="settings icon"></i>
                    Actions
                    <div class="menu">
                        <a href="{{ path('je_finances_ff_edit', {ref:invoice.ref}) }}" class="item">
                            <i class="pencil icon"></i> Editer
                        </a>
                        <a class="item">
                            <i class="delete icon"></i> Supprimer
                        </a>
                    </div>
                </div>
            </td>
        </tr>
        {% else %}
            <tr>
                <td colspan="10">
                    Aucun FF / RF
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th colspan="10">
                <a class="ui green labeled icon button" href="{{ path('je_finances_ff_new') }}">
                    Nouveau <i class="plus icon"></i>
                </a>
                {{ knp_pagination_render(invoices) }}
            </th>
        </tr>
        </tfoot>
    </table>

{% endblock %}