<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Actions&nbsp;&nbsp;<span class="caret"></span>
    </button>
    <ul class="dropdown-menu{% if not show|default(false) and not edit|default(false) %} dropdown-menu-right{% endif %}" role="menu">
        {% if not show|default(false) %}
            <li>
                <a href="{{ path('je_business_project_show', {id:project.id}) }}" class="item">
                    <i class="fa fa-fw fa-eye"></i> Afficher
                </a>
            </li>
        {% endif %}
        {% if is_granted('ROLE_CHARGE') and not edit|default(false) %}
            <li>
                <a href="{{ path('je_business_project_edit', {id:project.id}) }}" class="item">
                    <i class="fa fa-fw fa-pencil"></i> Editer
                </a>
            </li>
        {% endif %}
        {% if project.scopeStatement is not null %}
            <li>
                <a href="{{ path('sonata_media_download', {'id': project.scopeStatement|sonata_urlsafeid }) }}" class="item">
                    <i class="fa fa-fw fa-file"></i> Cahier des charges
                </a>
            </li>
        {% endif %}
        {% if project.graphicCharter is not null %}
            <li>
                <a href="{{ path('sonata_media_download', {'id': project.graphicCharter|sonata_urlsafeid }) }}" class="item">
                    <i class="fa fa-fw fa-file"></i> Charte graphique
                </a>
            </li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            {% if project.state != 'state_aborted' and project.state != 'state_closed' %}
                <li>
                    <a href="{{ path('je_business_project_abort_confirmation', {id:project.id}) }}" class="item">
                        <i class="fa fa-fw fa-times"></i> Avorter
                    </a>
                </li>
                <li>
                    <a href="{{ path('je_business_project_close_confirmation', {id:project.id}) }}" class="item">
                        <i class="fa fa-fw fa-lock"></i> Clôturer
                    </a>
                </li>
            {% endif %}
            {% if project.state == 'state_waiting_information' %}
                <li>
                    <a href="{{ path('je_business_project_validate', {id:project.id, type:'commercial'}) }}" class="item">
                        <i class="fa fa-fw fa-check"></i> Valider
                    </a>
                </li>
            {% endif %}
            {% if project.state == 'state_opened' and not project.commercialEnrollmentOpen %}
                <li>
                    <a href="{{ path('je_business_project_open_enrollment', {id:project.id, type:'commercial'}) }}" class="item">
                        <i class="fa fa-fw fa-search"></i> Rechercher commercial
                    </a>
                </li>
            {% endif %}
        {% endif %}
        {% if ((is_granted('ROLE_CHARGE') and app.user == project.commercial) or is_granted('ROLE_ADMIN')) and project.state == 'state_opened' and not project.studentsEnrollmentOpen %}
            <li>
                <a href="{{ path('je_business_project_open_enrollment', {id:project.id, type:'implementer'}) }}" class="item">
                    <i class="fa fa-fw fa-search"></i> Rechercher réalisateur
                </a>
            </li>
        {% endif %}
        {% if ((is_granted('ROLE_CHARGE') and app.user == project.commercial) or is_granted('ROLE_ADMIN')) and project.state == 'state_opened' and project.studentsEnrollmentOpen %}
            <li>
                <a href="{{ path('je_business_project_open_enrollment', {id:project.id, type:'implementer', open: 0}) }}" class="item">
                    <i class="fa fa-fw fa-minus-circle"></i> Arrêter recrutement réalisateur
                </a>
            </li>
        {% endif %}
        {% if is_granted('ROLE_CHARGE') %}
            {% if project.state == 'state_opened' and project.commercialEnrollmentOpen and not project.commercialApplicants.contains(app.user) %}
                <li>
                    <a href="{{ path('je_business_project_postulate', {id:project.id, type:'commercial'}) }}" class="item">
                        <i class="fa fa-fw fa-share"></i> Postuler en commercial
                    </a>
                </li>
            {% endif %}
        {% endif %}
        {% if project.state == 'state_opened' and project.studentsEnrollmentOpen and not project.studentsApplicants.contains(app.user) %}
            <li>
                <a href="{{ path('je_business_project_postulate', {id:project.id, type:'implementer'}) }}" class="item">
                    <i class="fa fa-fw fa-share"></i> Postuler en réalisateur
                </a>
            </li>
        {% endif %}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li>
                <a href="{{ path('je_business_project_delete_confirmation', {id:project.id}) }}" class="item">
                    <i class="fa fa-fw fa-trash"></i> Supprimer
                </a>
            </li>
        {% endif %}
    </ul>
</div>