{% extends '::layout.html.twig' %}

{% block title title %}

{% block content %}
    <div class="col-sm-12">
        <div class="box">
            <div class="box-body table-responsive no-padding">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Titre</th>
                            {{ knp_pagination_sortable(projects, "Date de dépôt", 'p.depositDate') }}
                            {{ knp_pagination_sortable(projects, "Délais", 'p.delay') }}
                            {{ knp_pagination_sortable(projects, "Statut", 'p.state') }}
                            <th>RBU</th>
                            <th>Commercial</th>
                            <th>Réalisateur(s)</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% import 'JuniorEsieeBusinessBundle:Project:helper.html.twig' as helper %}
                    {% for project in projects %}
                        <tr>
                            <td><a href="{{ path('je_business_project_show', {id:project.id}) }}" class="item">{{ project.title }}</a></td>
                            <td>{{ project.depositDate|format_date('dd/MM/yy', 'fr', 'Europe/Paris') }}</td>
                            <td>{{ project.delay|format_date('dd/MM/yy', 'fr', 'Europe/Paris') }}</td>
                            <td>
                                {{ helper.projectState(project) }}
                            </td>
                            <td>{{ project.rbu|linkUser }}</td>
                            <td>{{ project.commercial|linkUser }}</td>
                            <td>
                                {% for student in project.students %}
                                    {{ student|linkUser }}{% if not loop.last %}, {% endif %}
                                {% else %}
                                    Aucun
                                {% endfor %}
                            </td>
                            <td>
                                {% include 'JuniorEsieeBusinessBundle:Project:actions.html.twig' with {'show': false} %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">
                                Aucun AP
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div><!-- /.box-body -->
            <div class="box-footer clearfix">
                <a class="btn btn-success btn-lg" href="{{ path('je_business_project_new') }}">Nouveau</a>
                {{ knp_pagination_render(projects) }}
            </div>
        </div><!-- /.box -->
    </div>
{% endblock %}
