{% extends '::layout.html.twig' %}

{% block title 'Variables' %}

{% macro inputs(vars, toRender) %}
    <div class="row">
        {% for var in vars if var.slug in toRender %}
            <div class="col-sm-1">
                <input type="text" name="{{ var.slug }}" value="{{ var.value }} {{ var.unit }}" class="form-control" />
            </div>
        {% endfor %}
    </div>
{% endmacro %}
{% import _self as form %}

{% block content %}
    <div class="col-sm-12">
        <form method="post" class="ui form">
            <div class="form-group">
                <label for="">SMIC horraire</label>
                <div class="controls">
                    {{ form.inputs(vars, ['smic']) }}
                </div>
            </div>
            <div class="form-group">
                <label for="">TVA</label>
                <div class="controls">
                    {{ form.inputs(vars, ['tva_high', 'tva_medium', 'tva_low']) }}
                </div>
            </div>
            <div class="form-group">
                <label for="">Cotisations base URSSAF</label>
                <div class="controls">
                    {{ form.inputs(vars, ['urssaf_2_1', 'urssaf_2_2', 'urssaf_2_3', 'urssaf_2_4']) }}
                </div>
            </div>
            <div class="form-group">
                <label for="">Cotisations base brute</label>
                <div class="controls">
                    {{ form.inputs(vars, ['urssaf_1_1', 'urssaf_1_2']) }}
                </div>
            </div>
            <button class="btn btn-lg btn-info">
                Modifier
            </button>
        </form>
    </div>
{% endblock %}