{% extends '::layout.html.twig' %}

{% block title 'Factures clients' %}

{% block content %}
    <div class="col-sm-12">
        <div class="box">
            <div class="box-body table-responsive no-padding">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        {{ knp_pagination_sortable(invoices, "Référence", 'i.ref') }}
                        {{ knp_pagination_sortable(invoices, "FC", 'i.fc') }}
                        {{ knp_pagination_sortable(invoices, "Date d'émmission", 'i.issuedAt') }}
                        {{ knp_pagination_sortable(invoices, "Date d'échéance", 'i.dueDate') }}
                        {{ knp_pagination_sortable(invoices, "Client", 'i.client') }}
                        <th>Pourcentage</th>
                        <th>Montant HT</th>
                        <th>Montant TVA</th>
                        <th>Montant TTC</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for invoice in invoices %}
                    <tr {% if invoice.paid %}class="positive" {% endif %}>
                        <td>{{ invoice.ref }}</td>
                        <td>{{ invoice.fc }}</td>
                        <td>{{ invoice.issuedAt|date('d/m/Y') }}</td>
                        <td {% if invoice.dueDate < date('now') and not invoice.paid %}class="error"{% endif %}>
                            {{ invoice.dueDate|date('d/m/Y') }}
                        </td>
                        <td>{{ invoice.client }}</td>
                        <td>{{ invoice.percentage }} %</td>
                        <td>{{ invoice.amount|money }}</td>
                        <td>{{ invoice.taxesAmount|money }}</td>
                        <td>{{ invoice.totalAmount|money }}</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Actions&nbsp;&nbsp;<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    {% if invoice.paid %}
                                        <li>
                                            <a href="{{ path('je_finances_fc_unpaid', {fc:invoice.fc}) }}">
                                                <i class="fa fa-fw fa-reply"></i> Annuler paiment
                                            </a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{{ url('je_finances_fc_paid', {fc:invoice.fc}) }}">
                                                <i class="fa fa-fw fa-check"></i> Payer
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if invoice.hasFile %}
                                        <li>
                                            <a href="{% path invoice.file, 'reference' %}">
                                                <i class="fa fa-fw fa-file"></i> Document
                                            </a>
                                        </li>
                                    {% endif %}
                                        <li>
                                            <a href="{{ path('je_finances_fc_edit', {fc:invoice.fc}) }}">
                                                <i class="fa fa-fw fa-pencil"></i> Editer
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <i class="fa fa-fw fa-trash"></i> Supprimer
                                            </a>
                                        </li>
                                </div>
                            </ul>
                        </td>
                    </tr>
                    {% else %}
                        <tr>
                            <td colspan="10">
                                Aucun FC
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div><!-- /.box-body -->
            <div class="box-footer clearfix">
                <a class="btn btn-success btn-lg" href="{{ path('je_finances_fc_new') }}">Nouveau</a>
                {{ knp_pagination_render(invoices) }}
            </div>
        </div><!-- /.box -->
    </div>
{% endblock %}