<div style="margin-bottom:6px; width:640px; height:95px;">
    <div style="float:left; padding:5px; width:160px; vertical-align:middle;">
        <img src="http://www.junioresiee.com/img/logo.png" alt="Logo Junior ESIEE Paris" style="border:none; max-height:95px;" />
    </div>
    <div style="float:right; margin-top:0px; text-align:left; width: 440px; font-size:12px; font-family:Verdana,Georgia,Serif; vertical-align:middle;">
        <span style="font-weight:bold;"><span style="color:#024160;">{{ user }}</span> <span style="color:#ED7808;">|</span> <span style="color:#024160;">{{ user.group }}</span></span>
        <br />
        <a href="tel:{{ user.phone|phone|replace({' ' : ''}) }}" style="text-decoration:none;"><span style="color:#aaaaaa;">{{ user.phone|phone }}</span></a> <span style="color:#0097AA;">|</span> <a href="mailto:{{ user.email }}" style="text-decoration:none;"><span style="color:#aaaaaa;">{{ user.email }}</span></a>
        <br />
        <br />
        <span style="font-weight:bold;"><span style="color:#024160;">Junior ESIEE, Junior-Entreprise</span> <span style="color:#ED7808;">|</span> <a href="http://www.junioresiee.com/" style="text-decoration:none;"><span style="color:#024160;">junioresiee.com</span></a>
        </span>
        <br />
        <a href="tel:+33(0)145926670" style="text-decoration:none;"><span satyle="color:#aaaaaa;">01 45 92 66 70</span></a> <span style="color:#0097AA;">|</span> <a href="mailto:contact@junioresiee.com" style="text-decoration:none;"><span style="color:#aaaaaa;">contact@junioresiee.com</span></a>
        <br />
        <div style="margin-left:auto;margin-right:auto;margin-top:8px;">
            <a href="http://www.facebook.com/JuniorESIEE" target="_blank"><img src="http://www.junioresiee.com/img/social/24x24/facebook.png" />
            </a>
            <a href="http://twitter.com/JuniorESIEE" target="_blank"><img src="http://www.junioresiee.com/img/social/24x24/twitter.png" />
            </a>
            <a href="https://www.youtube.com/user/junioresiee" target="_blank"><img src="http://www.junioresiee.com/img/social/24x24/youtube.png" />
            </a>
            <a href="https://plus.google.com/117954618637794642146" target="_blank"><img src="http://www.junioresiee.com/img/social/24x24/google_plus.png" />
            </a>
            <a href="http://www.viadeo.com/profile/00226oeexx90wxwa" target="_blank"><img src="http://www.junioresiee.com/img/social/24x24/viadeo.png" />
            </a>
            <a href="https://www.linkedin.com/company/junior-esiee" target="_blank"><img src="http://www.junioresiee.com/img/social/24x24/linkedin.png" />
            </a>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>
